<%= form_for([@post, @post.comments.build]) do |f| %>
  <% if flash[:notice] %>
    <ul>
    <% flash[:notice].each do |name, message| %>
      <li><%= name %></li>
    <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label "Name" %>
    <%= f.text_field :guest_name %>
  </p>
  <p>
    <%= f.label "Comment" %>
    <%= f.text_area :body %>
  </p>
  <p>
  <%= f.submit "Submit", class: "btn" %>
  </p>
<% end %>