<!DOCTYPE html>
<html>
  <head>
    <title>Hire me!</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>


    <% if controller_name == "posts" && controller.action_name =="show" %>
      <%= stylesheet_link_tag    'posts', media: 'all' %>
    <% else %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/0cfcb9aae2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,900" rel="stylesheet">
   
  </head>

  <body>
    <nav>
      <div class="container nav-wrapper">
        <a href="#" class="brand-logo">baska.</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "home", root_path %></li>
          <li><%= link_to "posts", posts_path %></li>
          <li><%= link_to "resume", resume_path %></a></li>
          <li><%= link_to "contact", contact_path %></a></li>

          <% if logged_in? %>
            <li><%= link_to"profile", user_path(current_user) %></li>
          <% end %>
          <% if logged_in?%>
              <li><a><%= link_to "new post", new_post_path %></a></li>
              <li><a><%= link_to "logout", logout_path, method: :delete %></a></li>
            <% end %>
        </ul>
      </div>
    </nav>
     <ul class="sidenav" id="mobile-demo">
          <li><%= link_to "home", root_path %></li>
          <li><%= link_to "posts", posts_path %></li>
          <li><%= link_to "resume", resume_path %></a></li>
          <li><%= link_to "contact", contact_path %></a></li>

          <% if logged_in? %>
            <li><%= link_to"profile", user_path(current_user) %></li>
          <% end %>
          <% if logged_in?%>
              <li><a><%= link_to "new post", new_post_path %></a></li>
              <li><a><%= link_to "logout", logout_path, method: :delete %></a></li>
            <% end %>
        </ul>
    <main class="container valign-wrapper">
      <%= yield %>
    </main>
  </body>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <a href="https://www.linkedin.com/in/itsbaska/"><i class="fab fa-linkedin-in"></i>linkedin.com/in/itsbaska/</a>
        <a href="https://github.com/itsbaska"><i class="fab fa-github"></i>github.com/itsbaska</a>
        <a href="mailto:baskabatbold@gmail.com"><i class="fas fa-at"></i>baskabatbold@gmail.com</a>
      </div>
    </div>
  </footer>
</html>
