<!DOCTYPE html>
<html>
  <head>
    <title>Hire me!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/0cfcb9aae2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,900" rel="stylesheet">

  </head>

  <body>
    <div class="sign">
      <h1>hire me!</h1>
    </div>
    <div class="menu">
        <nav>
          <ul>
            <li><%= link_to "home", root_path %></li>
            <li><%= link_to "resume", resume_path %></li>
            <li><a href="#contact">contact</a></li>

            <% if logged_in? %>
              <li><%= link_to"Profile", user_path(current_user) %></li>
            <% end %>
          </ul>
        </nav>
        <div id="main-content">
          <div id="header">
            <div class="buttons">
              <% if logged_in?%>
                <button class="button"><%= link_to "New Post", new_post_path %></button>
                <button class="button"><%= link_to "Logout", logout_path, method: :delete %></button>
              <% end %>
            </div>
          </div>
          <% flash.each do |name, message| %>
            <%= content_tag(:div, message, class: "alert") %>
          <% end %>
        </div>
      </div>
      <%= yield %>
  </body>
</html>
