<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <div id="sidebar">
        <div id="logo">
          <%= link_to root_path do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </div>
        <ul>
          <li class="category">Website</li>
          <li><%= link_to "Blog", root_path %></li>
          <li><%= link_to"About", about_path %></li>
        </ul>
        <p class="sign-in">Admin Login</p>
      </div>
      <div id="main-content">
        <div id="header">
          <% if current_page?(root_path) %>
              <p>All Posts</p>
            <% elsif current_page?(about_path) %>
              <p>About</p>
            <% else %>
              <p><%= link_to "Back to all posts", root_path %></p>
            <% end %>
          <div class="buttons">
            <button class="button"><%= link_to "New Post", new_post_path %></button>
            <% if logged_in? %>
              <button class="button"><%= link_to "Logout", logout_path, method: :delete %></button>
            <% else %>
              <button class="button"><%= link_to "Register", new_user_path %></button>
              <button class="button"><%= link_to "Login", login_path %></button>
            <% end %>
          </div>
        </div>
        <% flash.each do |name, message| %>
          <%= content_tag(:div, message, class: "alert") %>
        <% end %>
        <%= yield %>
      </div>
  </body>
</html>
